body {
	background-color: black;
	margin: 0;
}

a:active,
a:visited,
a:link,
a:hover {
	color: black;
}

.container,
.sandbox {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background-image: url(../images/back1a.jpg);
	background-repeat: repeat-y;
}

.sandbox {
	background-image: url(../images/back2.jpg);
	background-repeat: repeat;
}
